html, body {
  background: #121314;
  color: #BDBEC3;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a {
  color: #648F00;
  font-weight: 700;
  text-decoration: none;
}

.about {
  top: 0;
  width: 450px;
  height: 100%;
  position: absolute;
  background: #000;
  -webkit-transition: -webkit-transform 0.6s;
  -webkit-transform: translateX(-450px);
}

.main {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s;
}

.over-main {
  position: absolute;
  z-index: 2;
  -webkit-transform: translateX(450px);
}

.activities {
  width: 1169px;
  height: 156px;
  margin: 0 auto;
}

.stats,
.title,
.intro,
.social {
  width: 900px;
  margin: 25px auto;
  text-align: center;
}

.additions {
  color: #00AF33;
}

.deletions {
  color: #FF0000;
}

.social a {
  margin: auto 5px;
}

.hover {
  visibility: hidden;
  display: inline-block;
  padding: 0 5px;
  color: #ffffff;
  height: 20px;
  position: relative;
  background: #000000;
}

.select {
  display: none;
  position: relative;
  background: #ff0000;
  opacity: 0.1;
}

.arc path {
  color: #ff0000;
}

#selected_repo_count {
  margin-top: 250px;
}

.chart {
  margin: 0 67.25px;
}
