html, body {
  height: 100%;
  margin: 0;
}

.activities {
  width: 1169px;
  height: 156px;
  margin: 0 auto;
}

.stats,
.title,
.intro,
.social {
  width: 700px;
  margin: 25px auto;
  text-align: center;
}

.social a {
  margin: auto 5px;
}

.hover {
  display: none;
  color: #ffffff;
  width: 500px;
  height: 20px;
  position: relative;
  background: #000000;
}

.select {
  display: none;
  position: relative;
  background: #ff0000;
  opacity: 0.1;
}

.arc path {
  color: #ff0000;
}
